header{
    height: 100px;
    display: flex;
    .header-menu{
        
        height: 100px;
        
        ul{
            height: 100px;
            list-style: none;
            display: flex;
            li{
                height: 100px;
                margin-left: 20px;
                }
            li a{
                height: 100px;
                display: flex;
                align-items: center;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                cursor: pointer;
                text-decoration: none;
                color: black;
                &:hover,
                &.active{
                border-bottom: blue 5px solid;
                 }
            }
        }
    }
}
.header-logo{
    height: 100px;
    width: 30%;
    img{
        margin-left: 250px;
        margin-top: 10px;
        width: 80px;
    }
    
}


.main{
    
    text-align: center;
    background-color: black;
    padding-bottom: 130px;
    position: relative;
    
    .jumbotron{
        width: 100%;
        height: 350px;
        background-image: url('../images/jumbotron.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        padding-bottom: 20px;
    }
   
    .current{
        width: 150px;
        height: 40px;
        color: white;
        background-color: blue;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        position: absolute;
        top: 335px;
        left: 100px;
    }
    .load{
        width: 150px;
        height: 40px;
        color: white;
        background-color: blue;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        position: absolute;
        left: 660px;
        top: 1150px;
    }
    .containerImgs{
      
        div{
             margin-left: 20px;
             padding-top: 50px;
             padding-bottom: 10px;
             img{
                 width: 200px;
             }
        }
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 1rem;
        
       
    }
    
}

.footer{
    width: 100%;
    height: calc(100vh - 500px);
    background-image: url("../images/dc-logo-bg.png"), url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size:30%, cover;
    background-position: 800px, center;
    padding-top: calc((100vh - 200px) - 100px);
    img{
        margin-left: 55%;
        margin-top: 50px;
        width: 30%;
        
    }
    .liste{
        position: relative;
        padding-top: 150px;
        width: 30%;
        height: calc((100vh - 200px) - 100px) ;
        margin-top: -455px;
        margin-left: 150px;
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        color: white;
        .shop{
            position: absolute;
            top: 300px;
        }
        
        ul{
            float: left;
            margin-left: 60px;
            .first-element-list{
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 7px;
                color: white;
            }
            li{
                list-style: none;
                color: rgb(199, 199, 199);
                margin-top: 5px;
                cursor: pointer;
            }
        }
        
    }
    
    .last-footer{
        height: 100px;
        width: 100%;
        background-color: rgb(54, 54, 54);
        display: flex;
        align-items: center;
        button{
            margin-left: 210px;
            padding: 10px;
            background-color: rgb(54, 54, 54);
            border: solid 3px rgb(67, 67, 255);
            cursor: pointer;
            p{
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 15px;
                color: white;
            }
            
        }
        .contacts{
            display: flex;
            align-items: center;
            height: 100px;
            width: 30%;
            margin-left: 500px;
            h1{
                color: blue;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                font-size: 20px;
            }
            img{
                width: 40px;
                margin-left: 20px;
                margin-bottom: 50px;
                cursor: pointer;
            }
            
        }
     
       
    }
}
